 :root {
     --primary: #5E3BEE;
     --secondary : #1C1E53;

 }
 /* navbar start */
 .btn-purple{
    color: var(--primary) !important;
    border: 1px solid var(--primary) !important;
 }
 .links{
    color: var(--secondary) !important; 
 }
 .link{
    color: var(--primary) !important; 
 }
 /* navbar end */

 /* herosection start  */




 
 /* herosection end  */
